.head1 {
	text-align: center;
	div {
		margin-top: 2rem;
		button {
			width: 8rem;
			border-radius: 0.5rem;
			height: 2rem;
			margin-top: 1rem;
			a {
				text-decoration: none;
				color: black;
			}
		}
	}
	p {
		margin-top: 2rem;
	}
}
